name: CI
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

env:
  RELEASE: yesh

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' 
          java-version: '17'
          cache: 'sbt'

      - name: Cache Playwright
        id: cache-primes
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright

      - name: Compile
        run: sbt --client 'compile; Test/compile;'

      # - name: Fast tests
      #   run: sbt --client fastTests 
          
      # - name: Integration tests 
      #   run: sbt --client integrationTests

      - name: Frontend tests 
        run: sbt --client playwrightTests

      - name: Build Docker container
        run: sbt --client 'app/Docker/publishLocal; versionDump'

      - name: Deploy to Fly.io
        if: startsWith(github.ref, 'refs/tags/v') || (github.ref == 'refs/heads/main')        
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        run: |
          curl -L https://fly.io/install.sh | sh

          export FLYCTL_INSTALL="$HOME/.fly"
          export PATH="$FLYCTL_INSTALL/bin:$PATH"

          flyctl deploy -i smithy4s-fullstack:$(cat version)

